.todos-wrapper{
  font-family: 'Urbanist';
   background-color:  rgb(239, 247, 255);
   background: linear-gradient(to right, rgb(236, 243, 251),  rgb(255, 245, 254));
    

}
.todo-div {
  padding: 80px;
  font-family: 'Urbanist';
}

.todos-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 60px;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 30px;
  margin-top: 50px;

  
}

.todos-title {
  font-size: 32px;
  font-weight: bold;
  margin: 0;
  color: #0c003e;
}

.todos-controls {
  display: flex;
  align-items: center;
  gap: 20px;
  flex: 1;
  justify-content: space-between;
}

.center-controls {
  display: flex;
  align-items: center;
  gap: 12px;
  margin: 0 auto;
}



.todo-div h2{
  font-size: 35px;
  margin-left: 30px;
  color:#0c003e;

}

.controls-row {
  display: flex;
  justify-content: flex-end; 
  align-items: center;
  gap: 12px;
  margin-bottom: 20px;
  
}


.todo-list-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 28px;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: center;
}



.add-button-todos {
  font-size: 20px;
  padding: 6px 12px;
  margin-bottom: 10px;
  float: right;
  cursor: pointer;
  margin-right: 60px;
  background-color: #c94fcf;
  color: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  border-radius: 15px;
}




select {
  appearance: none; /* מסיר את הסגנון הדפדפני */
  -webkit-appearance: none;
  -moz-appearance: none;

  padding: 8px 14px;
  border-radius: 30px;
  border: 2px solid #78b1fa;
  background-color: #fff;
  color: #4e4d4d;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

select:hover {
  border-color: #3383e5;
}

select:focus {
  outline: none;
  border-color: #c94fcf;
  box-shadow: 0 0 0 3px rgba(201, 79, 207, 0.2);
}

